
<style>
    /* add this to make classnames unique => {{_.id}} */
</style>

<div class='widgetBanner' id='widgetBanner-{{_.id}}'>
    <input type="text" value="{{._id}}">
    <div class='widgetBanner-bg overlay'>
        <img src='{{image.src}}' alt='{{image_description}}'>
    </div>
    <!-- add dynamic classes of 'center' or 'right' to change contentn alignment. Will default to lett alignment -->
    <div class='widgetBanner-content{{#if show-arrow '===' 'true'}} show-arrow{{/if}} {{alignment}}'>
        <h2 class='widgetBanner-subHeading'>{{sub_heading}}</h2>
        <h1 class='widgetBanner-heading'>{{heading}}</h1>
        <ul class='widgetBanner-actionList'>
            <li class='widgetBanner-actionItem'>
                <a href='{{action_url_1}}' class='widgetBanner-action'>
                    {{action_text_1}}
                    <svg viewBox='0 0 20 16' fill='none'>
                        <path d='M12 1L19 8M19 8L12 15M19 8L1 8' stroke='{{action_color}}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/>
                    </svg>
                </a>
            </li>
            <li class='widgetBanner-actionItem'>
                <a href='{{action_url_2}}' class='widgetBanner-action'>
                    {{action_text_2}}
                    <svg width='' height='' viewBox='0 0 20 16' fill='none'>
                        <path d='M12 1L19 8M19 8L12 15M19 8L1 8' stroke='{{action_color}}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/>
                    </svg>
                </a>
            </li>
            <li class='widgetBanner-actionItem'>
                <a href='{{action_url_3}}' class='widgetBanner-action'>
                    {{action_text_3}}
                    <svg width='' height='' viewBox='0 0 20 16' fill='none'>
                        <path d='M12 1L19 8M19 8L12 15M19 8L1 8' stroke='{{action_color}}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/>
                    </svg>
                </a>
            </li>
            <li class='widgetBanner-actionItem'>
                <a href='{{action_url_4}}' class='widgetBanner-action'>
                    {{action_text_4}}
                    <svg width='' height='' viewBox='0 0 20 16' fill='none'>
                        <path d='M12 1L19 8M19 8L12 15M19 8L1 8' stroke='{{action_color}}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' style='&#10;'/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>