<div class="featuredCards">
    <h2 class="featuredCards-title">Top Categories</h2>
    <ul class="featuredCards-list">
        <li class="featuredCards-item">
            <div class="featuredCard-img">
                <a href="/">
                    <img src="https://images.thdstatic.com/productImages/1367fb32-6c11-4970-a2ae-437fa61868f6/svn/eviva-bathroom-vanities-with-tops-evvn412-42gr-64_600.jpg" alt="placeholder">
                </a>
            </div>
            <div class="featuredCards-content">
                <a href="/" class="featuredCards-action">Shop Bathroom</a>
            </div>
        </li>
        <li class="featuredCards-item">
            <div class="featuredCard-img">
                <a href="/">
                    <img src="https://images.thdstatic.com/productImages/1367fb32-6c11-4970-a2ae-437fa61868f6/svn/eviva-bathroom-vanities-with-tops-evvn412-42gr-64_600.jpg" alt="placeholder">
                </a>
            </div>
            <div class="featuredCards-content">
                <a href="/" class="featuredCards-action">Shop Bathroom</a>
            </div>
        </li>
        <li class="featuredCards-item">
            <div class="featuredCard-img">
                <a href="/">
                    <img src="https://images.thdstatic.com/productImages/1367fb32-6c11-4970-a2ae-437fa61868f6/svn/eviva-bathroom-vanities-with-tops-evvn412-42gr-64_600.jpg" alt="placeholder">
                </a>
            </div>
            <div class="featuredCards-content">
                <a href="/" class="featuredCards-action">Shop Bathroom</a>
            </div>
        </li>
        <li class="featuredCards-item">
            <div class="featuredCard-img">
                <a href="/">
                    <img src="https://images.thdstatic.com/productImages/1367fb32-6c11-4970-a2ae-437fa61868f6/svn/eviva-bathroom-vanities-with-tops-evvn412-42gr-64_600.jpg" alt="placeholder">
                </a>
            </div>
            <div class="featuredCards-content">
                <a href="/" class="featuredCards-action">Shop Bathroom</a>
            </div>
        </li>
    </ul>
</div>



<div class="widgetBanner">
    <div class="widgetBanner-bg overlay">
        <img src="http://www.buildingranks.com/assets/img/International_donors_2.jpg" alt="placeholder image">
    </div>
    <!-- add dynamic classes of 'center' or 'right' to change contentn alignment. Will default to lett alignment -->
    <div class="widgetBanner-content show-arrow">
        <h2 class="widgetBanner-subHeading">Lorem ipsum dolor sit.</h2>
        <h1 class="widgetBanner-heading">Lorem, ipsum dolor.</h1>
        <ul class="widgetBanner-actionList">
            <li class="widgetBanner-actionItem">
                <a href="/" class="widgetBanner-action">
                    Shop Now
                    <svg viewBox="0 0 20 16" fill="none" style="stroke: #FFF">
                        <path d="M12 1L19 8M19 8L12 15M19 8L1 8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
            <li class="widgetBanner-actionItem">
                <a href="/" class="widgetBanner-action">
                    Learn More!
                    <svg viewBox="0 0 20 16" fill="none" style="stroke: #FFF">
                        <path d="M12 1L19 8M19 8L12 15M19 8L1 8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
            <li class="widgetBanner-actionItem">
                <a href="/" class="widgetBanner-action">
                    Browse
                    <svg viewBox="0 0 20 16" fill="none" style="stroke: #FFF">
                        <path d="M12 1L19 8M19 8L12 15M19 8L1 8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
            <li class="widgetBanner-actionItem">
                <a href="/" class="widgetBanner-action">
                    Shop Sale Items
                    <svg viewBox="0 0 20 16" fill="none" style="stroke: #FFF">
                        <path d="M12 1L19 8M19 8L12 15M19 8L1 8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="&#10;"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>