<div class="widgetBanner">
    <div class="widgetBanner-bg overlay">
        <img src="http://www.buildingranks.com/assets/img/International_donors_2.jpg" alt="placeholder image">
    </div>
    <!-- add dynamic classes of 'center' or 'right' to change contentn alignment. Will default to lett alignment -->
    <div class="widgetBanner-content show-arrow">
        <h2 class="widgetBanner-subHeading">Lorem ipsum dolor sit.</h2>
        <h1 class="widgetBanner-heading">Lorem, ipsum dolor.</h1>
        <ul class="widgetBanner-actionList">
            <li class="widgetBanner-actionItem">
                <a href="/" class="widgetBanner-action">
                    Shop Now
                    <svg viewBox="0 0 20 16" fill="none">
                        <path d="M12 1L19 8M19 8L12 15M19 8L1 8" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
            <li class="widgetBanner-actionItem">
                <a href="/" class="widgetBanner-action">
                    Learn More!
                    <svg width="" height="" viewBox="0 0 20 16" fill="none">
                        <path d="M12 1L19 8M19 8L12 15M19 8L1 8" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
            <li class="widgetBanner-actionItem">
                <a href="/" class="widgetBanner-action">
                    Browse
                    <svg width="" height="" viewBox="0 0 20 16" fill="none">
                        <path d="M12 1L19 8M19 8L12 15M19 8L1 8" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
            <li class="widgetBanner-actionItem">
                <a href="/" class="widgetBanner-action">
                    Shop Sale Items
                    <svg width="" height="" viewBox="0 0 20 16" fill="none">
                        <path d="M12 1L19 8M19 8L12 15M19 8L1 8" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="&#10;"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>